discovery:
  - overlay: default

registry:
  - name: example
    namespace: example
    source:
      repoUrl: git://host.k3d.internal/example/
      targetRevision: HEAD
      path: overlays/default/
